{% extends "base.html" %}
{% block title %}Deleted Exams{% endblock %}

{% block content %}
<div class="page">

  <div style="margin-bottom:20px;">
    <a href="{{ url_for('examiner_dashboard') }}" class="btn btn-outline btn-sm">← Back</a>
  </div>

  <div class="table-wrap">
    <h2>Deleted Exams</h2>

    <table>
      <thead>
        <tr>
          <th>Exam Name</th>
          <th>Start Time</th>
          <th>Duration</th>
          <th>Subject</th>
        </tr>
      </thead>

      <tbody>
        {% for exam in exams %}
        <tr>
          <td>{{ exam.exam_name }}</td>
          <td>{{ exam.start_time.replace('T',' ') }}</td>
          <td>{{ exam.duration }} min</td>
          <td>{{ exam.subject }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="4" style="text-align:center;">No deleted exams</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>
{% endblock %}